
/* google font */

@import url('https://fonts.googleapis.com/css?family=Paytone+One');

/*  general */

body {
    background: #d2a779;
    display: flex;
    justify-content: center;
}

p {
    margin:5px;
}

/* box */

.box {
    height: 600px;
    padding: 5px; 
    margin: 20px;
    font-family: 'Paytone One', sans-serif;
    text-align: center; 
}

.box_left {
	width: 500px;   
    background: white;
}

.box_right {
	width: 300px;
    background: pink;
    font-size: 25px; 
}


/* title (Coffee Maker) */

h1 {  
	color: #804000;
	font-size: 50px;
	margin-top: 15px;
}


/* sliders */

.sliders_area {
	font-size: 20px;
	text-align: left;
	margin-left: 140px; 
}

#milk-slider {
	width: 120px;
}

#espresso-slider, #foam-slider {
	width: 50px;
}


/* magcup */

#magcup_area {
    width: 400px;
    display: flex;
    margin-left: 120px;
    margin-top: 40px;
   
}

#mag-cup {
    width: 200px;
    height: 250px;
    border-radius: 10px;
    border: solid 15px #4ec4d3;
    border-top: none;    
    position: relative;       
}

.mag-contents {
	position: absolute;
	bottom: 0px;
	height: 0px;	
}

		#espresso{
			width:200px;
			z-index: 3;
			background: #392714;
		}

		#milk {
		    width:200px;
			z-index: 1;
			background: #fdfdce;	
		}


		#foam{
		    width:196px;
			z-index: 2;
			background: #f2e6d9;
			border: none;
		 	border-radius: 5px;			
		}

.mag-handle {
    display: inline-block;
    width: 30px;
    height: 80px;
    border: solid 18px #4ec4d3;
    margin-top: 50px;
    border-radius: 0px 10px 10px 0px;
}


/* coffee-name (default: "Let's Make Coffee!") */

#coffee-name { 
	margin-top: 20px;
	text-align: center;
	font-size: 30px;
	color: #ff0066;	
}

/* MENU*/

h2 {  
    color: black;
	font-size: 1.5em;	
}

.box_right p {
	color: gray;
}


